dist-*

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# frontend
.angular
frontend/dist
node_modules

# hspec-golden tests
.golden/**/actual

.codex
